{% extends 'base.html' %}

{% block meta %}
<title>Hapus Task</title>
{% endblock meta %}

{% load static %}

{% block content %}
<div class = "task">

    <center>
        
    <h1>Hapus Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            Are you sure want to delete this task?
                <td><input type="submit" value="Yes"></td>
        </table>
    </form>

    <button><a href="{% url 'todolist:show_todolist' %}">Kembali</a></button>

    </center>

</div>

{% endblock content %}